# Default
python-dotenv
# Data Parsing
pandas
requests
# PGVector
pgvector
psycopg2-binary
sqlalchemy
# PostGIS
geopandas
shapely
geoalchemy2
# AI
faiss-cpu
ollama
langchain-community
langchain-huggingface
sentence-transformers
transformers
torch
# API
fastapi
uvicorn